#tianai-captcha {
  text-align: left;
  box-sizing: content-box;
  width: 300px;
  height: 260px;
  z-index: 999;
  .slider-bottom .logo {
    height: 30px;
  }
  .slider-bottom {
    height: 19px;
    width: 100%;
  }
  .content {
    .tianai-captcha-tips {
      height: 25px;
      width: 100%;
      position: absolute;
      bottom: -25px;
      left: 0;
      z-index: 999;
      font-size: 15px;
      line-height: 25px;
      /*background-color: #FF5D39;*/
      color: #fff;
      text-align: center;
      /* transform: translateY(0px); */
      /* display: none; */
      /* transition: max-height 0.5s; */
      transition: bottom .3s ease-in-out;
    }
    .tianai-captcha-tips.tianai-captcha-tips-error {
      background-color: #FF5D39;
    }
    .tianai-captcha-tips.tianai-captcha-tips-success {
      background-color: #39C522;
    }
    .tianai-captcha-tips.tianai-captcha-tips-on {
      bottom: 0;
    }

    #tianai-captcha-loading {
      z-index: 9999;
      background-color: #f5f5f5;
      text-align: center;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        width: 45px;
        height: 45px;
      }
    }
  }
  #tianai-captcha-slider-bg-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  #tianai-captcha-slider-bg-div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    .tianai-captcha-slider-bg-div-slice {
      position: absolute;
    }
  }
}
@keyframes myanimation {
  from {
    left: 0;
  }
  to {
    left: 289px;
  }
}

