#tianai-captcha-parent {
  box-shadow: 0 0 11px 0 #999999;
  width: 318px;
  height: 318px;
  overflow: hidden;
  position: relative;
  z-index: 997;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px;
  #tianai-captcha-box {
    height: 260px;
    width: 100%;
    position: relative;
    overflow: hidden;
    .loading {
      width: 120px;
      height: 20px;
      -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
      background: linear-gradient(#f7b645 0 0) 0 / 0% no-repeat #dddddd6b;
      animation: cartoon 1s infinite steps(6);
      margin: 120px auto;
      @keyframes cartoon {
        100% {
          background-size: 120%;
        }
      }
    }
    #tianai-captcha {
      transform-style: preserve-3d;
      will-change: transform;
      transition-duration: .45s;
      //transition-timing-function: cubic-bezier(0.36, 0.3, 0.42, 1.5);
      transform: translateX(-300px);
    }
  }
  #tianai-captcha-bg-img {
    background-color: #fff;
    background-position: top;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 6px;
    //background-image: url("");
  }

  .slider-bottom  {
    .close-btn {
      width: 20px;
      height: 20px;
      background-image: url("@/assets/images/icon.png");
      background-repeat: no-repeat;
      background-position: 0 -14px;
      float: right;
      margin-right: 2px;
      cursor: pointer;
    }
    .refresh-btn {
      width: 20px;
      height: 20px;
      background-image: url("@/assets/images/icon.png");
      background-position: 0 -167px;
      background-repeat: no-repeat;
      float: right;
      margin-right: 10px;
      cursor: pointer;
    }
    .logo {
      height: 30px;
      float: left;
    }
    height: 19px;
    width: 100%;
  }
  .slider-move-shadow {
    animation: myanimation 2s infinite;
    height: 100%;
    width: 5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(0.5);
    box-shadow: 1px 1px 1px #fff;
    border-radius: 50%;
  }
  #tianai-captcha-slider-move-track-mask {
    border-width: 1px;
    border-style: solid;
    border-color: #00f4ab;

    width: 0;
    height: 32px;
    background-color: #a9ffe5;
    opacity: .5;
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 5px;
  }

}

