#tianai-captcha.tianai-captcha-slider {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  .content {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
  }
  .bg-img-div {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0px, 0px);
    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
  .slider-img-div {
    height: 100%;
    position: absolute;
    left: 0;
    transform: translate(0px, 0px);
    #tianai-captcha-slider-move-img {
      height: 100%;
    }
  }
  .slider-move {
    height: 34px;
    width: 100%;
    margin: 11px 0;
    position: relative;
  }
  .slider-move-track {
    position: relative;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #999;
    transition: 0s;
    font-size: 14px;
    box-sizing: content-box;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
  }
  .refresh-btn, .close-btn {
    display: inline-block;
  }
  .slider-move {
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    color: #88949d;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    filter: opacity(.8);
  }
  .slider-move .slider-move-btn {
    transform: translate(0px, 0px);
    position: absolute;
    top: -6px;
    left: 0;
    width: 63px;
    height: 45px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
  }
  .slider-tip {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    color: black;
  }
  .slider-move-btn:hover {
    cursor: pointer
  }
  user-select: none;
}
